* {
    font-size: 14px;
}

nav {
    display: inline-flex;
    flex-direction: row;
}

h1 {
    font-size: 28px;
    text-align: center;
}

.selectData {
    margin: 25px;
}

.tableData {
    margin-left: 37%;
}

table,
th,
td {
    border: 1px solid black;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: midnightblue;
    font-weight: bold;
}

a:hover {
    text-decoration: underline 2pt white;
    transition: ease 0.2s;
    color: white;
    font-size: 18px;
}

.formIndex {
    list-style: none;
}

#btnForm {
    display: flex;
    float: right;
}

.formIndex li input {
    display: flex;
}

.formIndex li {
    padding: 5px;
}

.divIndex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.divForm {
    display: flex;
    justify-content: center;
}

header {
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    display: flex;
    padding: 20px;
}